.SearchBox-main{
    width: 240px;
    height: 40px;
    background: url('./search.png') no-repeat scroll 11px 11px;
    background-size: 16px 16px;
    background-color: rgb(241, 241, 241);
    border: rgb(241, 241, 241);
    border-radius: 20px;
    padding-left: 35px;
}